.cover {
  width: 100%;
  height:45vh;/*30vh*/
  object-fit: cover;
}

.title {
  padding-top: 1rem;
}

.title h2 {
  padding-top:3rem;/*1rem*/
  padding-bottom:1rem;/*2rem*/
}

.authorDetails {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
}

.authorDetails img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.authorDetails h6 {
  font-weight: 500;
}

.authorText {
  display: flex;
  flex-direction: column;/*Could "row" I Guess*/
  align-items: left;/*Could "justify-content:start" I Guess*/
}

.blog code {
  display: block;
  margin: 2rem 0rem;
  padding: 1rem;
  background-color:rgba(55, 55, 55, 1);/*background*//*rgb(55, 55, 55)*/
  color: rgb(246, 246, 246);
  font-size: 1.2rem;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  .blog {
    margin:0 2rem;/*0rem 2rem*/
  }

  .content {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
}